/*http://stackoverflow.com/questions/24452956/color-border-in-corners-seperatly/24453271#24453271
ADD CORNERS TO THE BOXES */
html {
    height: 99%;
    width: 99%;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 8em
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 6em;
}


h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.sidebars {
    width: 14%;
    height: 600px;
    position: relative;
    display: inline-block;
}

.sidebars > div > div > h1 {
    text-align: center;
}

#leftX {
    float: left;
}

#rightO {
    float: left;
}

.sides {
    width: 90%;
    height: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

/*make mediaquuery to force aspect ratio*/
#centerBoard {
    width: 70%;
    height: 600px;
    padding-bottom: 10%;
    border: solid 1px black;
    float: left;
    clear: none;
}

.row{
    clear: right;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    height: 25%;
}

.rowTop{
    margin-top: 3%;

}

button {
    border: none;
    background-color: transparent;
}



.buttonBar{
    width: 20%;
    height: 3em;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}

.play{
    margin-right: 5px;
    margin-left: auto;
    position: relative;
    float: left;
}



.reset{
    margin-left: 5px;
    margin-right: auto;
    position: relative;
    float: right;
}

.spaces{
    border: 1px lightblue solid;
    width: 32%;
    height: 100%;
    float: left;
    position: relative;
    display: flex;

}

.xoPlay{
    margin: auto;
    position: relative;
}

