/*http://stackoverflow.com/questions/24452956/color-border-in-corners-seperatly/24453271#24453271
ADD CORNERS TO THE BOXES */
html {
    height: 99%;
    width: 99%;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 8em
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 6em;
}

h3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

h4 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 3em;
}

h5 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.container {
    width: 70%;
    height: 80%;
    margin: 0 auto;
}

.sidebars {
    width: 14%;
    height: 500px;
    position: relative;
    display: inline-block;
}

.sidebars > div > div > h1 {
    text-align: center;
}

#leftX {
    float: left;
}

#rightO {
    float: left;
    margin-left: 0;
}

.sides {
    width: 90%;
    height: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

/*make mediaquuery to force aspect ratio*/
#centerBoard {
    width: 70%;
    height: 500px;
    padding-bottom: 10%;
    float: left;
}

.title{
    margin-top: 2%;
}

.row{
    clear: right;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    height: 25%;
}

.rowWinner{
    clear: right;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    height: 25%;
    text-align: center;
}

.rowTop{
    margin-top: 3%;
}

.rowTalley {
    clear: none;
    margin-right: auto;
    margin-left: auto;
    border-bottom: none;
    padding-bottom: none;
    height: 100%;
    width: 40%;
    display: inline-block;
}

.t1:nth-child(odd), .s1:nth-child(odd){
    border-left: solid black 2px;
    border-right: solid black 2px;
}
.t1:nth-child(even), .s1:nth-child(even){
    border-left: solid black 2px;
    border-right: solid black 2px;
}


.t1, .s1 {
    width: 10%;
    height: 40%;
    float: left;
    position: relative;
    display: inline-block;
     margin-left: auto;
    margin-right: auto;

}
.topTalley {
    clear: right;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    display: flex;
}

.bottomTalley {
    clear: left;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    display: flex;
}

/*.s1:nth-child(odd){
    border-left: solid black 2px;
    border-right: solid black 2px;
}
*/
button {
    border: none;
    background-color: transparent;
}

.spaceBox{
    position: relative;
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.buttonBar{
    width: 70%;
    height: 3em;
    margin-top: 6%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;

}

.play{
    margin-right: 5px;
    margin-left: auto;
    position: relative;
    float: left;
}

.reset{
    margin-left: 5px;
    margin-right: auto;
    position: relative;
    float: right;
}

.spaces{
    width: 32%;
    height: 100%;
    float: left;
    position: relative;
    display: flex;

}

#b1, #h3 {
    border-right: black 2px solid;
    border-left: black 2px solid;
}

#d2, #f2{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

#e2{
    border: black 2px solid;
}

.xoPlay{
    margin: auto;
    position: relative;
}

@keyframes example {
    0%   {text-shadow: 0px 11px 6px rgba(84, 235, 233, 1); font-size: 8em;}
    50%  {text-shadow: 0px 11px 6px rgba(0, 0, 0, 0);}
    100% {text-shadow: 0px 11px 6px rgba(84, 235, 233, 1);font-size: 8em;}
}


.shadowed{
    /*text-shadow: 0px 11px 6px rgba(84, 235, 233, 1);*/
    animation-name: example;
    animation-duration: 1.2s;
    animation-iteration-count: 3;
    font-size: 6em;
    text-shadow: 0px 11px 6px rgba(84, 235, 233, 1);
    padding-top: none;
    margin-top: -.15em;
    text-align: center;

    /*-webkit-box-shadow: 0px 0px 37px 5px rgba(62,235,18,1);
    -moz-box-shadow: 0px 0px 37px 5px rgba(62,235,18,1);
    box-shadow: 0px 0px 37px 5px rgba(62,235,18,1);
    */
}

.hidden {
    visibility: hidden;
    display: block;
}
